# Ignore common system files and directories
.DS_Store
Thumbs.db
*.swp

# Ignore Node.js modules and dependencies in all directories
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/venv
**/__pycache__