body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  #container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  #meaning {
    margin-top: 20px;
    font-size: 20px;
    color: blue;
  }

  #closestMatch {
    width: fit-content;
    margin: 0 auto;
    padding: 14px 24px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 14px;
  }

  #closestMatch a {
    color: white;
}