/* .text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
}

.pagination a:hover {
  background-color: #f0f0f0;
}

.pagination .active-page {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #007bff;
  color: white;
} */